body {
  background-color: #f8f8f8;
}

.App {
  align-items: center;
}
.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.buttons {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 1rem 0.3rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 18px 1px rgba(0, 0, 0, 0.16);
  transition: all 0.3s ease;
}

.list-item {
  display: block;
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.16);
  transition: all 0.3s ease;
  max-width: 70vw;
}

.list-item:hover {
  box-shadow: 1px 1px 17px 1px rgba(0, 0, 0, 0.16);
}
.item-wrapper {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  height: 3rem;
  width: 3rem;
  padding: 5px;
  border-radius: 50%;
  background: rgba(186, 191, 192, 0.815);
}
